@font-face {
  font-family: "lt-beverage";
  src: url("/public/fonts/lt-beverage.woff2") format("woff2"),
    url("/public/fonts/lt-beverage.woff") format("woff"),
    url("/public/fonts/lt-beverage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-Beverage: "lt-beverage", sans-serif;
}
